.border{
    border: solid black 5px;
    padding: 5px;
}
.cent{
    text-align: center;
}
    
.video{
    width: 200px;
    height: 100px;
}

.image{
    width: 200px;
    height: 100px;
}

.big{
    display:none;
}

.small{
    display:block;
}

body{
    display:grid;
    grid-template-areas:
    "haus"
    "valstika"
    "midja"
    "vinstri"
    "haegri"
    "fotur";
    background-image: linear-gradient(rgb( 79, 0, 79),rgb( 49, 0, 49));
    color: grey;
}

.header{
    display: grid;
    grid-area: haus;
}
.navbar{
    display: grid;
    grid-area: valstika;
}
.aside{
    display: grid;
    grid-area: vinstri;
}
.main{
    display: grid;
    grid-area: midja;
}
.article{
    display: grid;
    grid-area: haegri;
}
.footer{
    display: grid;
    grid-area: fotur;
    grid-template-columns: repeat(2,1fr);
}

a:visited{
    color:grey;
}

a:link{
    color:white;
}

@media screen and (min-width: 37.5em){
    body{
        display: grid;
        grid-template-areas:
        "valstika valstika valstika valstika valstika"
        "haus haus haus haus haus"
        "vinstri midja midja midja haegri"
        "fotur fotur fotur fotur fotur";
        background-image: linear-gradient(rgb( 79, 0, 79),rgb( 49, 0, 49));
        color: grey;
        
    }
    .navbar{
        display: grid;
        grid-area: valstika;
        grid-template-columns: repeat(2,1fr);
    }
    
    .video{
        width: 300px;
        height: 200px;
    }
    
    .image{
        width: 200px;
        height: 100px;
    }

    .big{
        display:block;
    }
    
    .small{
        display:none;
    }
}

@media screen and (min-width: 60em){
    body{
        display: grid;
        grid-template-areas: 
        "haus haus haus haus haus"
        "valstika valstika valstika valstika valstika"
        "vinstri midja midja midja haegri"
        "fotur fotur fotur fotur fotur";
        background-image: linear-gradient(rgb( 79, 0, 79),rgb( 49, 0, 49));
        color: grey;
        
    }
    .navbar{
        display: grid;
        grid-area: valstika;
        grid-template-columns: repeat(2,1fr);
    }
    
    .video{
        width: 600px;
        height: 400px;
    }
    
    .image{
        width: 300px;
        height: 200px;
    }

    .big{
        display:block;
    }
    
    .small{
        display:none;
    }
}