body{
    display:grid;
    grid-template-areas:
    "valstika"
    "haus"
    "vinstri"
    "midja"
    "haegri"
    "fotur";
    background: burlywood;
    background-image: linear-gradient(rgb( 79, 0, 79),rgb( 49, 0, 49));
    color: white;
}

.header{
    display: grid;
    grid-area: haus;
}
.navbar{
    display: grid;
    grid-area: valstika;
    grid-template-columns: repeat(4,1fr);
}
.aside{
    display: grid;
    grid-area: vinstri;
}
.main{
    display: grid;
    grid-area: midja;
}
.article{
    display: grid;
    grid-area: haegri;
}
.footer{
    display: grid;
    grid-area: fotur;
}

img{
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pad{
    padding: 10px;  
}

.cent{
    text-align: center;
}

.border{
    border: lightgray solid 5px;
}
.ccennt{
    align-content: center;
}

@media screen and (min-width: 481px){
    body{
        display:grid;
        grid-template-areas:
        "fotur fotur fotur fotur"
        "valstika valstika valstika valstika"
        "haus haus haus haus"
        "vinstri midja midja haegri";
        background-image: linear-gradient(rgb( 79, 0, 79),rgb( 49, 0, 49));
        color: white;
    }
    .footer{
        display: grid;
        grid-area: fotur;
        grid-template-columns: repeat(5,1fr);
    }
    img{
        width: 40%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 60em){
    body{
        display:grid;
        grid-template-areas:
        "haus haus haus haus"
        "valstika valstika valstika valstika"
        "vinstri midja midja haegri"
        "fotur fotur fotur fotur";
        background-image: linear-gradient(rgb( 79, 0, 79),rgb( 49, 0, 49));
        color: white;
    }
    .footer{
        display: grid;
        grid-area: fotur;
        grid-template-columns: repeat(5,1fr);
    }

    img{
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
1506-1025=green
1025-415=blue
415-0=brown
*/